# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Build files
*.ipa
manifest.plist

# SSL Certificate
certificate/

.DS_Store
